/* =================================
     Page Default Stylesheet 
   ================================= */
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(1, 4, 9,0.98);
    margin:0;
}

/* Page Header */
.page-header{
  background-color: #003746;
  color: white;
  margin:0 0;
  display: flex;
}
.page-header img{
  width: 60px;
  height: 60px;
  padding: 0 0 0 1%;
}
.page-header h1{
  font-size: 18pt;
  font-weight: bold;
  letter-spacing: 2px;
  background-color: transparent;
}

/* page navegation */
.nav-container{
  background-image: url("../img/radio_banner.webp");
  background-size:cover;
  border-top:1px solid transparent;
}

.nav-content{
    color:white;
    text-align: center;
}
.nav-content h2{
    text-transform:uppercase;
    font-size: 32pt;
    text-shadow: 3px 3px 2px #333;
}
.nav-content p{
  color: white;
  display: inline-block;
  padding: 10px;
  font-size: 18pt;
  font-weight: bold;
}

.nav-menu ul{
    margin: 3% 25px 0 0;
    text-align: right;
}
.nav-menu li{
  list-style: none;
  display: inline-block;
  margin-left: 10px;;
  border: 1px solid white;
}
.nav-menu a{
  background-color: rgba(39, 0, 0, 0.2);
  display: block;
  padding:15px;
  color:white;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}
.nav-menu a:hover{
  background-color: rgba(0,0,0,0.5);
  transform: scale(1.05);
}

/* ============================================== */
/* Main section */
main{
  width:80%;
  margin: auto;
  margin-bottom: 2%;
}

/* Text content section */
.content-section{
  background-color: rgb(35, 47, 65);
  border-radius: 5px;
  padding: 10px;
  margin-top: 2%;
  overflow: auto;
}

.content-link{
  background-color: rgb(35, 47, 65);
  border-radius: 5px;
  padding: 10px;
  margin-top: 2%;
  overflow: auto;
}
.content-link header{
  text-align: center;
  display: inline;
  color:rgb(255, 255, 255);
}

.content-section p{
  text-align: justify;
  font-size: 14pt;
  line-height: 1.5;
  color: white;
}

.content-section a{
  text-decoration: none;
}

.content-section a:link{
  color: white;
}
.content-section a:visited{
  color: white;
}
.content-section a:hover{
  color:#00dab3;
}

/* cards for links */
.card{
  width : 31%;
  float : left;
  margin: 1%;
  border: 2px solid rgb(255, 255, 255);
  border-radius:5px;
  box-sizing: border-box;
}
.card:hover{
  transform: scale(1.05);
}
.card a{
  text-decoration: none;
}
.card img{
  width  : 100%;
  display: block;
}
.card p{
  background-color: rgb(78, 78, 78);
  color: white;
  margin: 0;
  padding: 15px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}

/* Card link for live */
.card-live{
  display:inline-block;

  width : 20%;
  height: fit-content;

  border-radius: 5px;
  margin: 1% 10% 1% 5%;
  border: 2px solid rgb(255, 255, 255);
  box-sizing: border-box;
}
.card-live:hover{
  transform: scale(1.05);
}
.card-live a{
  text-decoration: none;
}
.card-live img{
  width  : 100%;
  display: block;
}
.card-live p{
  background-color: rgb(78, 78, 78);
  color: white;
  margin: 0;
  padding: 15px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}

/* ============================================== */
/* Player */
.radio-popup{
  width: 100%;
}
.radio-cover{
  background-size:cover; 
  background-image: url(../img/player.webp);
}

.radio-player{
  position:relative;
  z-index:2;
  width: 90%;
  min-height:325px;
}

.radio-player__status{
  font-weight:700;
  display:inline-block;
  color:#d6f95b!important;
  visibility:hidden;
  opacity:0;
  transition:all .5s linear;
}

.radio-player__status:before{
  display:inline-block;
  margin-right:8px;
  width:.5555555556em;
  height:.5555555556em;
  border-radius:50%;
}

.radio-player__status--online{
  color:#d6f95b!important;
  visibility:visible;opacity:1;
}
  
.radio-player__status--online:before{
  background:#d6f95b;
}

.radio-player__status--offline{
  color:#fa5b5b!important;
}

.radio-player__status--offline:before{
  background:#fa5b5b;
}

/* Volume Button */
.radio-player__volume-button{
  border:none;background:0 0;
  cursor:pointer;
  color :#f2f2f2;
  position:absolute;
  right:8px;
  top:1.3333333333em;
}

.radio-player__volume-button 
.drop .owl-controls .owl-prev,
.radio-player__volume-button 
.icon{
  font-size:1.6111111111em;
  line-height:1.2413793103em;
}

.icon--volume:after{
  content: "\1F56A";
  display: block;
  font-size: 25pt;
  width: 1px;
  height: fit-content
}

/* Play/stop button  */
.radio-player__play-button::before, 
.radio-player__status::before{
  content: "";
}

.radio-player__play-button{
  width:9em;height:9em;
  border:6px solid #f2f2f2;
  position:relative;background:0 0;
  cursor:pointer;margin-right:1.6666666667em;
  outline:0;
  float:left;
  border-radius:50%;
  z-index:99999999;
  margin-bottom:2em;
}

.radio-player__play-button:before{
  height:0;
  position:absolute;
  top:1.3em;
  left:2.55em;
  border-style:solid;
  border-width:2.8em 0 2.8em 4.3em;
  border-color:transparent transparent transparent #f2f2f2;
  transition:90ms linear all;
}

.radio-player__play-button--stop:before{
  height:2.75em;
  border-width:0 0 0 2.75em;
  top:2.7em;
  left:2.7em;
}

/* Listening */
.radio-player__listening{
  margin-bottom:2em;
}

.radio-player__listening p{
  color:#f2f2f2!important;
}

.radio-player__hearing{
  margin-bottom:0;
  font-style:italic;
}
  
.radio-player__program{
  font-size:1.6666666667em;
  line-height:1.2em;
  margin-bottom:0;
  font-weight:700;
}

.radio-player__music{
  margin-bottom:0;
  font-weight:700;
}

.radio-player__music .icon{
  color:#d6f95b;
  font-size:.8333333333em;
  line-height:1.6em;
}

/* Radio Pupup */
.radio-popup{
  margin:10px;
  border-radius:10px;
  box-shadow:0 0 8px 0 rgba(0,0,0,.42)}

.radio-popup:before{
  background:rgba(0,0,0,.4);
  display:block;position:absolute;
  width:100%;height:100%}

.radio-popup .radio-player{
  min-height:inherit;
  height:200px;
  padding:20px 32px;
  margin-top: 5%;
  margin-bottom: 10%;
}
  
.radio-popup .radio-player__play{
  position:relative;
}
  
.radio-popup .radio-player__play .radio-player__listening{
  margin-bottom:0;
}
  
.radio-popup .radio-player__play .radio-player__listening p{
  margin-bottom:0;
  font-size:1.05em; /*.7777777778em*/
  font-weight: bold;
  line-height:1.7142857143em;
}
  
.radio-popup .radio-player__status--online{
      color:#d6f95b!important;
      visibility:visible;opacity:1;
}
  
.radio-popup .radio-player__hearing{
      padding:0!important;
}
  
.radio-popup .radio-player__volume-button{
  position:inherit;
  right:inherit;
  top:0;
}

.radio-popup .radio-player__volume-button .drop .owl-controls .owl-next,
.radio-popup .radio-player__volume-button .drop .owl-controls .owl-prev,
.radio-popup .radio-player__volume-button .icon{
  font-size:1em;
  line-height:1.3333333333em;
}

.radio-popup .radio-logo{
  position: absolute;
  right :0;
  top   :10%;
  float : right;
  width :90px;
  height: fit-content;
}

.radio-popup .radio-player__play-button{
  margin-bottom:0;
  width:10em; /* 6em*/
  height:10em;
  border:3px solid #f2f2f2;
  text-indent:-99999px
}

.radio-popup .radio-player__play-button:before{
  height:0;position:absolute;
  top:2.8em;
  left:3em;
  border-style:solid;
  border-width:2em 0 2em 4em;
  border-color:transparent transparent transparent #f2f2f2;
  transition:90ms linear all
}

.radioprogramming-item,.radioprogramming-tab li{
  transition:all 250ms cubic-bezier(.87,.37,.27,.95)}

.radio-popup .radio-player__play-button--stop:before{
  height:3.5em;
  border-width:0 0 0 3.5em;
  top:3.0em;
  left:3.0em
}


/* Responsive media */
@media (max-width:768px){
  .radio-player{position:relative;margin-bottom:1.3333333333em}

  .radio-player__listening{
    width:67%;
    float:right}

  .radio-player__play-button{margin-right:1.1111111111em}

  .radio-player__info{margin-top:.9333333333em}

  .radio-player__info>.radio-player__title{
      font-size:1em;line-height:1.0666666667em}

  .radio-player__hearing{
      margin-bottom:0;
      font-size:.7777777778em;
      line-height:1.7142857143em}

  .radio-player__music{
      font-size:.6666666667em;
      line-height:2em}

  .media .radio-player__program{
      font-size:1em;
      line-height:1.3333333333em}

  .radio-player__next{display:none;visibility:hidden}

  .radio-player__status{margin-bottom:0;
      font-size:.7777777778em;
      line-height:1.7142857143em}

  .media .radio-player__play{
      -ms-transform:translate(-50%,-50%);
      transform   :translate(-50%,-50%);
      top:50%;left:50%;
      position:absolute;
      width:90%;height:auto}

  .media .radio-player__play-button{margin-bottom:0}

  .radio-cover{margin-top:0;
      overflow:visible;z-index:300}
}

@media (max-width:768px){
  .radio-popup .radio-player__listening{
      width:inherit;
      float:none;
  }
}
/* ============================================== */
/* page footer */
.page-footer{
  background-color: rgb(35, 47, 65);
  margin:auto;

  width: 100%;
  height: fit-content;
  
  color: white;

  font-size: 14px;
  text-align: left;
  text-shadow: 2px 2px 2px black;
  
  border-top:1px solid transparent;
  border-bottom:1px solid transparent;
  border-color: rgb(255,255,255,0.5);
}

.page-footer p{
  color: white;
  padding: 0;
  margin : 0 ;
  text-shadow: 3px 3px 2px #333;
}


.page-footer img{
  display: inline-block;
  width: 35px;
  height: fit-content;
  padding: 1% 20%;
  display: block;
}

.page-footer ul{
  text-align: left;
}
.page-footer li{
  list-style: none;
  display: inline-block;
  padding: 0% 4% 1% 0%;
}
.page-footer a{
  text-decoration: none;
}



