/* =================================
     Page Default Stylesheet 
   ================================= */
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ccc;
    margin:0;
}

/* Page Header */
.page-header{
  background-color: #003746;
  color: white;
  margin:0 0;
  display: flex;
}
.page-header img{
  width: 60px;
  height: 60px;
  padding: 0 0 0 1%;
}
.page-header h1{
  font-size: 18pt;
  font-weight: bold;
  letter-spacing: 2px;
  background-color: transparent;
}

/* page navegation */
.nav-container{
  background-image: url("../img/radio_banner.webp");
  background-size:cover;
  border-top:1px solid transparent;
}

.nav-content{
    color:white;
    text-align: center;
}
.nav-content h2{
    text-transform:uppercase;
    font-size: 32pt;
    text-shadow: 3px 3px 2px #333;
}
.nav-content p{
  color: white;
  display: inline-block;
  padding: 10px;
  font-size: 18pt;
  font-weight: bold;
}

.nav-menu ul{
    margin: 3% 25px 0 0;
    text-align: right;
}
.nav-menu li{
  list-style: none;
  display: inline-block;
  margin-left: 10px;;
  border: 1px solid white;
}
.nav-menu a{
  background-color: rgba(39, 0, 0, 0.2);
  display: block;
  padding:15px;
  color:white;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}
.nav-menu a:hover{
  background-color: rgba(0,0,0,0.5);
  transform: scale(1.05);
}

/* Main section */
main{
  width:80%;
  margin: auto;
  margin-bottom: 2%;
}

.content-section{
  background-color: rgba(39, 39, 39, 0.459);
  border-radius: 5px;
  padding: 10px;
  margin-top: 2%;
  overflow: auto;
}

.content-section p{
  text-align: justify;
  font-size: 14pt;
  line-height: 1.5;
  color: white;
}

.content-section a{
  text-decoration: none;
}

.content-section a:link{
  color: white;
}
.content-section a:visited{
  color: white;
}
.content-section a:hover{
  color:#00dab3;
}

/* page footer */
.page-footer{
  background-color: rgb(78, 78, 78);
  margin:auto;

  width: 100%;
  height: fit-content;
  
  color: white;

  font-size: 14px;
  text-align: left;
  text-shadow: 2px 2px 2px black;
  
  border-top:1px solid transparent;
  border-bottom:1px solid transparent;
}

.page-footer p{
  color: white;
  padding: 0;
  margin : 0 ;
  text-shadow: 3px 3px 2px #333;
}


.page-footer img{
  display: inline-block;
  width: 35px;
  height: fit-content;
  padding: 1% 20%;
  display: block;
}
.page-footer ul{
  text-align: left;
}
.page-footer li{
  list-style: none;
  display: inline-block;
  padding: 0% 4% 1% 0%;
}
.page-footer a{
  text-decoration: none;
}



